@model Logic.Models.LoginRequestModel


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
<div>
    @Html.ValidationSummary(true)
    <form method="post">
        <h1>Вход</h1>
        <div>
            <input type="text" value="Телефон" asp-for="@Model.Phone" name="Phone" id="Phone">
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div>
            <input type="text" value="Пароль" asp-for="@Model.Password" name="Password" id="Password">
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <input type="submit" value="Отправить"/>
    </form>
</div>
</body>
</html>